[submodule "eowu-gl/glm"]
	path = eowu-gl/deps/glm
	url = https://github.com/g-truc/glm
[submodule "eowu-gl/deps/glfw"]
	path = eowu-gl/deps/glfw
	url = https://github.com/glfw/glfw
	branch = latest
[submodule "eowu-gl/deps/variant"]
	path = eowu-gl/deps/variant
	url = https://github.com/mpark/variant.git
[submodule "eowu-gl/deps/stb"]
	path = eowu-gl/deps/stb
	url = https://github.com/nothings/stb
[submodule "eowu-script/deps/LuaBridge"]
	path = eowu-script/deps/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "eowu-audio/deps/rtaudio"]
	path = eowu-audio/deps/rtaudio
	url = https://github.com/thestk/rtaudio
